/* @import url(timeline/css/demo.css);
@import url(timeline/css/timeliner.css);
@import url(timeline/css/responsive.css);
@import url(timeline/inc/colorbox.css); */
@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

:root {
    --button-color: #f44336;
    --font-family: Comic Sans MS
}

::-webkit-scrollbar {
    width: 0px;
}

#intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(white, antiquewhite, rgb(248, 217, 176));
}

#intro>h1,
h2,
h3,
h4 {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    font-family: var(--font-family), Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: var(--button-color);
}

body {
    background-color: antiquewhite !important;
}

img.bigImg {
    width: 300px;
    height: 300px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

img.smallImg {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

img.profileImg {
    border-radius: 150px;
    object-fit: cover;
    object-position: 80%;
}

.button {
    display: inline-block;
    color: var(--button-color);
    background-color: #FFFFFF;
    border: 1px solid var(--button-color);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px 5px;
    opacity: 0.9;
    border-radius: 10px;
}

.button:hover {
    background-color: var(--button-color);
    color: #FFFFFF;
}

.button i {
    font-size: 18px;
}

.logo {
    display: flex;
    margin-right: 20px;
}

.logo h3 {
    margin: auto;
}

.icon {
    font-size: 30px;
    cursor: pointer;
}

/* side bar styles */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #fff5e6f7;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.2s;
    /* 0.5 second transition effect to slide in the sidenav */
    z-index: 1021;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#back-drop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1113;
    z-index: 1021;
}

#header-menu>a {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--button-color);
    border-radius: 25px;
}

#header-menu>a:hover {
    background-color: var(--button-color);
    /* background-color: #ae7129c4; */
    color: #fff
}

.page {
    width: 100vw;
    height: 100vh;
    padding-top: 86px;
}

/* --- Timeline Styles start --- */
.timeline-container::before {
    background: var(--button-color);
    content: "";
    display: block;
    height: 4px;
    left: -8px;
    width: 14px;
    position: relative;
    top: -4px;
}

.timeline-container::after {
    background: var(--button-color);
    content: "";
    display: block;
    height: 4px;
    left: -8px;
    width: 14px;
    position: relative;
}

.timeline-container {
    border-left: 4px solid var(--button-color);
    margin: 20px auto;
    width: 900px;
}

.timeline-wrapper .timeline-time {
    cursor: pointer;
    font-size: 2.8em;
    font-weight: 400;
    margin: 0 0 30px 0;
    padding: 0;
}

.timeline-wrapper .timeline-time span {
    background-color: var(--button-color);
    padding: 5px 25px;
    border-radius: 5rem;
    color: #f1f1f1;
}

.timeline-wrapper .timeline-time::before {
    border-top: 4px solid var(--button-color);
    content: "";
    display: inline-block;
    height: 4px;
    margin-right: 0px;
    vertical-align: middle;
    width: 24px;
}

.timeline-wrapper {
    clear: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 12px;
    width: 900px;
}

.timeline-series dt::before {
    border-top: 3px solid var(--button-color);
    content: "";
    display: inline-block;
    height: 3px;
    margin-right: 10px;
    vertical-align: middle;
    width: 10px;
}

.timeline-series dt {
    clear: left;
    font-size: 1.8em;
    line-height: 1.2em;
    margin: 0 0 12px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}

.timeline-event-content {
    margin-left: 2rem;
}

.timeline-event-content h3 {
    text-align: left;
}

.timeline-event a {
    text-decoration: none;
    color: darkslateblue !important;
}

/* --- Timeline styles end --- */